<% content_for :title, 'Главная страница' %>
<section class="no-padding">
  <div id="slider_2" class="rev_slider slider-home-2" style="display:none;" data-version="5.0.7">
    <Ul>
      <li>
        <img src="/assets/images/slider/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <div class="tp-caption" data-x="left" data-hoffset="['15','','','15']"
             data-y="bottom" data-voffset="['300','300','300','300']"
             data-width="['750','750','480','320']"
             data-transform_idle="o:1;"
             data-whitespace="normal"
             data-fontsize="['82','82','41','41']"
             data-lineheight="['82','82','45','45']"
             data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;"
             data-transform_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
             data-start="1500">
          <p class="typo-1">
            <span class="color-theme">Производство </span> Бетона и Раствора
          </p>
        </div>
        <div class="tp-caption typo-2" data-x="left" data-hoffset="['15','','','15']"
             data-y="bottom" data-voffset="['200','200','200','200']"
             data-width="['550','550','480','320']"
             data-transform_idle="o:1;"
             data-whitespace="normal"
             data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;"
             data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
             data-start="1700"
             data-fontsize="['16','16','14','14']"
             data-lineheight="['32','32','20','20']">
          <p>Производственный комплекс во Всеволожском районе, в Янино-1 (Колтушское шоссе, 6 км от КАД). Мощность производства - 100 м3/час</p>
        </div>
        <div class="tp-caption" data-x="left" data-hoffset="['15','','','15']"
             data-y="bottom" data-voffset="['100','100','100','100']"
             data-width="['550','550','480','320']"
             data-transform_idle="o:1;"
             data-whitespace="normal"

             data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;"
             data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
             data-start="1900"
             data-fontsize="['16','16','14','14']">
          <a href="#" class="ot-btn border-theme">Узнать подробней</a>
        </div>
      </li>
      <li>
        <img src="/assets/images/slider/5.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <div class="tp-caption" data-x="left" data-hoffset="['15','','','15']"
             data-y="bottom" data-voffset="['300','300','300','300']"
             data-width="['750','750','480','320']"
             data-transform_idle="o:1;"
             data-whitespace="normal"
             data-fontsize="['82','82','41','41']"
             data-lineheight="['82','82','45','45']"
             data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;"
             data-transform_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
             data-start="1500">
          <p class="typo-1">
            <span class="color-theme">услуги</span> АБН и миксеров
          </p>
        </div>
        <div class="tp-caption typo-2" data-x="left" data-hoffset="['15','','','15']"
             data-y="bottom" data-voffset="['200','200','200','200']"
             data-width="['550','550','480','320']"
             data-transform_idle="o:1;"
             data-whitespace="normal"
             data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;"
             data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
             data-start="1700"
             data-fontsize="['16','16','14','14']"
             data-lineheight="['32','32','20','20']">
          <p>Услуги АБН (стрелы от 16 до 52 метров) и доставка бетона/раствора собственными миксерами по Санкт-Петербургу и Ленинградской области</p>
        </div>
        <div class="tp-caption" data-x="left" data-hoffset="['15','','','15']"
             data-y="bottom" data-voffset="['100','100','100','100']"
             data-width="['550','550','480','320']"
             data-transform_idle="o:1;"
             data-whitespace="normal"

             data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;"
             data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
             data-start="1900"
             data-fontsize="['16','16','14','14']">
          <a href="#" class="ot-btn border-theme">Узнать подробней</a>
        </div>
      </li>
      <li>
        <img src="/assets/images/slider/6.jpg"  alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <div class="tp-caption" data-x="left" data-hoffset="['15','','','15']"
             data-y="bottom" data-voffset="['300','300','300','300']"
             data-width="['750','750','480','320']"
             data-transform_idle="o:1;"
             data-whitespace="normal"
             data-fontsize="['82','82','41','41']"
             data-lineheight="['82','82','45','45']"
             data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;"
             data-transform_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
             data-start="1500">
          <p class="typo-1">
            <span class="color-theme">Перевозка</span> Сыпучих материалов
          </p>
        </div>
        <div class="tp-caption typo-2" data-x="left" data-hoffset="['15','','','15']"
             data-y="bottom" data-voffset="['200','200','200','200']"
             data-width="['550','550','480','320']"
             data-transform_idle="o:1;"
             data-whitespace="normal"
             data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;"
             data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
             data-start="1700"
             data-fontsize="['16','16','14','14']"
             data-lineheight="['32','32','20','20']">
          <p>
            Перевалка и транспортная обработка сыпучих материалов на площадке во Всеволожском районе, в Янино-1 (Колтушское шоссе, 6 км от КАД)
          </p>
        </div>
        <div class="tp-caption" data-x="left" data-hoffset="['15','','','15']"
             data-y="bottom" data-voffset="['100','100','100','100']"
             data-width="['550','550','480','320']"
             data-transform_idle="o:1;"
             data-whitespace="normal"
             data-transform_in="x:-100px;opacity:0;s:600;e:Power3.easeOut;"
             data-transfor_out="x:-100;opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
             data-start="1900"
             data-fontsize="['16','16','14','14']">
          <a href="#" class="ot-btn border-theme">Узнать подробней</a>
        </div>
      </li>
    </Ul>
  </div>
</section>
<section class="no-padding">
  <div class="experience-year text-center ey2">
    <span>
      5
      <div class="des-text text-left">
        <strong>ЛЕТ ОПЫТА РАБОТЫ</strong>
        <p>В СТРОИТЕЛЬНОМ БИЗНЕСЕ</p>
      </div>
    </span>
  </div>
</section>
<section class="boxed">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="title-with-sub">
          ЧТО МЫ МОЖЕМ СДЕЛАТЬ
          <span class="color-theme">ДЛЯ ВАС</span>
        </h2>
      </div>
      <div class="col-md-10 col-md-offset-1 mgt-60">
        <div class="row">
          <div class="col-md-4">
            <img src="/assets/images/content/what-we-do.jpg" alt="Image" class="img-responsive">
          </div>
          <div class="col-md-7 col-md-push-1">
            <div class="mgt-30">
              <div class="icon-box-inline">
                <img src="/assets/images/icon/1.png" alt="Image" class="img-responsive">
                <p class="white">
                  Произвести бетон/раствор, согласно ГОСТа, доставить его по Санкт-Петербургу и
                  Ленинградской области, а также разгрузить с помощью дополнительных труб, транспортерных
                  лент или с использованием автобетононасосов (АБН)
                </p>
              </div>
              <div class="icon-box-inline">
                <img src="/assets/images/icon/2.png" alt="Image" class="img-responsive">
                <p class="white">
                  Оказать услуги аккредитованной лаборатории, как по проверке прочности произведенного
                  нами бетона, так и сторонних организаций
                </p>
              </div>
              <div class="icon-box-inline">
                <img class="img-responsive" src="/assets/images/icon/2.png" alt="Image">
                <p class="white">
                  Оказать услуги по перевалке и транспортной обработке сыпучих материалов
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="title-with-sub">
          НАШИ
          <span class="color-theme">ПАРТНЕРЫ</span>
        </h2>
      </div>
      <div id="partner-h1" class="owl-partner">
        <div class="partner-item"><a href="#"><img src="/assets/images/partner/1.png" alt="Image" class="img-responsive"></a></div>
        <div class="partner-item"><a href="#"><img src="/assets/images/partner/2.png" alt="Image" class="img-responsive"></a></div>
        <div class="partner-item"><a href="#"><img src="/assets/images/partner/3.png" alt="Image" class="img-responsive"></a></div>
        <div class="partner-item"><a href="#"><img src="/assets/images/partner/4.png" alt="Image" class="img-responsive"></a></div>
        <div class="partner-item"><a href="#"><img src="/assets/images/partner/5.png" alt="Image" class="img-responsive"></a></div>
        <div class="partner-item"><a href="#"><img src="/assets/images/partner/6.png" alt="Image" class="img-responsive"></a></div>
      </div>
    </div>
  </div>
</section>
<section class="boxed bg-img" style="background-image: url(/assets/images/bg/bg-contact-1.jpg)">
  <div class="container">
    <h2 class="title-on-dark">
      <span class="color-theme">Свяжитесь с нами</span>
    </h2>
    <div class="col-md-3">
      <div class="icon-box-contact">
        <img src="/assets/images/icon/icon-mail.png" alt="Image" class="img-responsive">
        <label for="">E-MAIL</label>
      </div>
      <div class="icon-box-contact">
        <img src="/assets/images/icon/icon-phone.png" alt="Image" class="img-responsive">
        <label for="">ТЕЛЕФОН</label>
        <a href="href='tel:5417543010'">( 541 ) 754 - 3010</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <%= render 'shared/feedback' %>
      </div>
    </div>
  </div>
</section>