<% content_for :title, 'Услуги' %>
<section class="boxed no-padding bg-img" style="background-image: url(/assets/images/bg/bg-about.jpg);">
  <div class="sub-header depen-on-img">
    <img src="/assets/images/bg/bg-about.jpg" alt="Image" class="img-responsive">
    <div class="sub-header-inner center-center">
      <h2>Продукция и Услуги</h2>
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Продукция и Услуги</li>
      </ol>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 text-right">
        <h3 class="title-with-sub">История</h3>
        <span class="sub-title color-theme">О компании</span>
      </div>
      <div class="col-md-7 col-sm-10">
        <p>
          Cras mattis consectetur purus sit amet fermentum. Curabitur
          blandit tempus porttitor. Sed posuere consectetur est at lobortis.
          Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
          lacinia odio sem nec elit. Vestibulum id ligula porta felis euismod semper.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h2> Чем мы занимаемся</h2>
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <ul class="nav nav-tabs tabs-left">
          <li>
            <h4><a href="#Commercial" data-toggle='tab'>Производство и продажа <br/> бетона и раствора</a></h4>
          </li>
          <li>
            <h4><a href="#Interior" data-toggle='tab'>Автобетононасосов и миксеров</a></h4>
          </li>
          <li>
            <h4><a href="#Renovation" data-toggle='tab'>Перевалка сыпучих материалов</a></h4>
          </li>
        </ul>
      </div>
      <div class="col-md-9 col-sm-9">
        <div class="tab-content">
          <div id="Commercial" class="tab-pane fade in active">
            <img src="/assets/images/content/about2.png" alt="Image" class="img-responsive">
            <div class="clearfix mgt-30"></div>
            <p>
              ООО  “СЗБК” (Северо-Западная Бетонная Компания) работает на рынке Санкт-Петербурга и Ленинградской области с 2012 г.
            </p>
            <p>
              Наша компания является производителем качественных товарных бетонов, керамзитобетонов, монтажных и
              кладочных растворов для всех видов промышленного и гражданского строительства.
            </p>
            <p>
              Производственный комплекс находится во Всеволожском районе, в Янино-1 (Колтушское шоссе, 6 км от КАД)
            </p>
            <p>
              Мощность производства - 100 м3/час. Склады под  инертные материалы (щебень и песок) позволяют хранить 10 000 м3.
            </p>
            <p>
              Собственная аккредитованная лаборатория.
            </p>
            <p>Площадка имеет железнодорожные пути для приемки сыпучих материалов, что позволяет снизить стоимость готовой продукции для наших партнеров.</p>
            <p>
              ООО “СЗБК” работает бесперебойно в круглосуточном режиме без выходных, производя более 15 000 м3 продукции ежемесячно.
            </p>
            <p>
              Наш автопарк насчитывает 40 единиц техники, включающий миксера и автобетононасосы (АБН).
            </p>
            <p>
              ООО  “СЗБК” в своей работе опирается на такие принципы, как качество, доступность, оперативность и открытость.
              Мы с удовольствием ответим на все вопросы, которые касаются непосредственно политики компании или особенностей предлагаемой продукции.
            </p>
          </div>
          <div id="Interior" class="tab-pane fade">
            <img src="/assets/images/blog/detail1.png" alt="Image" class="img-responsive">
            <div class="clearfix mgt-30"></div>
            <p>
              ООО  “СЗБК” (Северо-Западная Бетонная Компания) имеет собственный автопарк, насчитывающий 40 единиц техники, включающий миксера и автобетононасосы (АБН).
              Миксера объемом бочек от 7 до 12 м3 оборудованы дополнительными лотками, гидролотками, трубами 6 метров.  Есть миксера с транспортерными лентами.<br/>
              Парк автобетононасосов включает насосы с длинами стрел от 16 до 52 метров.<br/>
              Также есть пумики с объемом бочек 7-9 м3 и длинами стрел 16-24 метра.
            </p>
          </div>
          <div id="Renovation" class="tab-pane fade">
            <img src="/assets/images/blog/3.jpg" alt="Image" class="img-responsive">
            <div class="clearfix mgt-30"></div>
            <p>
              На территории завода ООО “СЗБК” (Северо-Западная Бетонная Компания) есть железнодорожные пути,
              позволяющие круглогодично принимать и обрабатывать сыпучие материалы думпкарами. Станция назначения
              Заневский пост. Код станции 036905.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="line-top-right w-680"></div>
</section>