<% content_for :title, 'Контактная информация' %>
<section class="boxed no-padding bg-img" style="background-image: url(/assets/images/bg/bg-contact-2.jpg);">
  <div class="sub-header depen-on-img">
    <img src="/assets/images/bg/bg-about.jpg" alt="Image" class="img-responsive">
    <div class="sub-header-inner center-center">
      <h2>Обратная связь</h2>
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Контакты</li>
      </ol>
    </div>
  </div>
</section>
<section class="pdb-0">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h4>ВЫ МОЖЕТЕ СВЯЗАТЬСЯ С НАМИ ОДНИМ ИЗ ПРЕДСТАВЛЕННЫХ ОБРАЗОМ<br>А ТАКЖЕ ЗАПОЛНИТЬ ФОРМУ НИЖЕ</h4>
      </div>
      <div class="mgt-60">
        <div class="col-md-4">
          <div class="icon-box-center">
            <div class="box-icon">
              <img src="/assets/images/icon/mail2.png" alt="Image" class="img-responsive">
            </div>
            <h5>E-MAIL</h5>
            <a href="mailto:Szbk-beton@mail.ru">Szbk-beton@mail.ru</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box-center">
            <div class="box-icon">
              <img src="/assets/images/icon/phone2.png" alt="Image" class="img-responsive">
            </div>
            <h5>ТЕЛЕФОН</h5>
            Отдел продаж 1 : <a href="tel:309-16-53">( 812 ) 309-16-53</a><br/>
            Отдел продаж 2 : <a href="tel:985-65-08">( 812 ) 985-65-08</a><br/>
            Менеджеры отдела продаж : <a href="tel:89643322916">8-964-332-29-16</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="icon-box-center">
            <img src="/assets/images/icon/map2.png" alt="Image" class="img-responsive">
            <h5>ОФИС</h5>
            <p>Всеволожский р-н, Кудрово, <br/> ул. Ленинградская, д.5 (ЖК "Новый Оккервиль")</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="boxed">
  <div id="map-canvas" class="map-warp" style="height: 480px;"></div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="comments-area">
          <h2>СВЯЗАТЬСЯ С НАМИ</h2>
          <form action="POST" class="contact-form">
            <div class="col-md-4 col-sm-6">
              <input type="text" class="contact-input" required="required" placeholder="Имя" type="text">
              <input type="text" class="contact-input" required="required" placeholder="Номер телефона" type="text">
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="text" class="contact-input" required="required" placeholder="E-Mail" type="email">
              <input type="text" class="contact-input" required="required" placeholder="Тема" type="text">
            </div>
            <div class="col-md-4 col-sm-6">
              <textarea cols="30" rows="4" class="textarea-contact" placeholder="Сообщение"></textarea>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
              <button class="ot-btn border-dark btn-contact" type="submit">Отправить сообение</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="line-top-right w-680"></div>
</section>