<% content_for :title, 'Лаборатория' %>
<section class="boxed no-padding bg-img" style="background-image: url(/assets/images/bg/bg-about.jpg);">
  <div class="sub-header depen-on-img">
    <img src="/assets/images/bg/bg-about.jpg" alt="Image" class="img-responsive" />
    <div class="sub-header-inner center-center">
      <h2>Лаборатория</h2>
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li class="active">Лаборатория</li>
      </ol>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 text-right">
        <h3 class="title-with-sub">О лаборатории</h3>
        <span class="sub-title color-theme">описание</span>
      </div>
      <div class="col-md-6 col-sm-8">
        <p>
          ООО «Северо-Западная Бетонная компания» имеет свою Испытательную лабораторию,
          аккредитованную на техническую компетентность. Оснащенность лаборатории и квалификация
          персонала подтверждены Свидетельством об аттестации испытательной лаборатории № ИЛ – ЛРИ - 0053
          от 16 мая 2014 г., выданным ОАО «Российская экспертная компания по объектам повышенной опасности»
          (ОАО «РосЭк»). Уполномоченный орган (Свидетельство о признании № УО-0001 от 08.06.2011 г.).
        </p>
        <p>
          В соответствии с Областью деятельности ИЛ осуществляет входной контроль вяжущих,
          инертных материалов и добавок для бетонов, испытания бетонов, растворов, бетонных
          изделий и конструкций, в том числе и для сторонних организаций.
        </p>
        <p>
          Составы смесей выбираются согласно требованиям государственных стандартов и
          успешного опыта производства прошлых лет.
        </p>
        <p>
          Испытательная лаборатория постоянно работает над созданием новых составов
          бетонных смесей с улучшенными характеристиками и оптимизацией существующих рецептур.
        </p>
        <p>
          Специалисты ИЛ оказывают консультационные услуги по технологии укладки бетонных смесей,
          последующему уходу за бетоном и контролю его качества, осуществляют выезды на объекты.
        </p>
      </div>
    </div>
  </div>
</section>