<% content_for :title, 'Продажа квартир' %>
<section class="boxed no-padding bg-img" style="background-image: url(/assets/images/bg/bg-about.jpg);">
  <div class="sub-header depen-on-img">
    <img src="/assets/images/bg/bg-about.jpg" alt="Image" class="img-responsive">
    <div class="sub-header-inner center-center">
      <h2>Продажа квартир</h2>
      <ol class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li>Продажа квартир</li>
      </ol>
    </div>
  </div>
</section>
<section class="boxed pdb-0">
  <article class="services-post">
    <div class="col-md-5 bg-image bg-image-post" style="background-image: url(/assets/images/services/1.jpg);">
      <img src="/assets/images/services/1.jpg" alt="Image" class="img-responsive">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <div class="desc">
            <div class="title-block-number">
              <span class="big-number">01</span>
              <h2 class="title-with-sub">Месторасположение</h2>
              <span class="sub-title">Средняя стоимость 4 м. руб.</span>
            </div>
            <p>
              Описания дома, описание дома, описание дома, описание дома, описание дома, описание дома, описание дома, описание дома
            </p>
            <a href="/apartments-for-sale/detail" class="ot-btn border-dark mgt-30">Узнать подробней</a>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="services-post">
    <div class="col-md-5 col-md-push-7 bg-image bg-image-post" style="background-image: url(/assets/images/services/2.jpg);">
      <img src="/assets/images/services/2.jpg" alt="Image" class="img-responsive">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="desc">
            <div class="title-block-number">
              <span class="big-number">01</span>
              <h2 class="title-with-sub">Месторасположение</h2>
              <span class="sub-title">Средняя стоимость 4 м. руб.</span>
            </div>
            <p>
              Описания дома, описание дома, описание дома, описание дома, описание дома, описание дома, описание дома, описание дома
            </p>
            <a href="/apartments-for-sale/detail" class="ot-btn border-dark mgt-30">Узнать подробней</a>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>