<section class="no-padding bg-img" style="background-image: url(images/bg/bg-404.jpg)">
  <div class="warp-404">
    <div class="warp-404-inner">
      <strong style="font-size: 39px; line-height: 80px;">Спасибо за обрашение</strong>
      <p>наш менеджер обезатьльно с вами свяжеться</p>
    </div>
  </div>
</section>